@import "variables.scss";
@import "switch.scss";
@import "~bootstrap/scss/functions"; // Bootstrap Functions
@import "~bootstrap/scss/variables"; // Bootstrap Functions
@import "~bootstrap/scss/bootstrap"; // Bootstrap

$darkBlue: #0660a9;
$lightBlue: #0d76bd;
$white: #fff;
$red: #ed1c23;
$gray: #888888;

.container {
  margin-top: 40px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  p,
  ul {
    margin-bottom: 0;
  }
}

.footer>.container {
  margin: 0;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Text+Me+One);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  word-spacing: .15em;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
  font-family: "Text Me One", sans-serif;
}

a {
  text-decoration: none;
}

.col {
  margin-top: 20px;
}

.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:last-child)>.btn {
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}

$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;
.sk-three-bounce {
  $animationDuration: 1.4s;
  $delayRange: 0.32s;
  width: ($spinkit-size * 2);
  margin: auto;
  text-align: center;
  .sk-child {
    width: ($spinkit-size / 2);
    height: ($spinkit-size / 2);
    background-color: $spinkit-spinner-color;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce $animationDuration ease-in-out 0s infinite both;
  }
  .sk-bounce-1 {
    animation-delay: -$delayRange;
  }
  .sk-bounce-2 {
    animation-delay: (-$delayRange / 2);
  }
}

@keyframes sk-three-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin($transforms) {
  -moz-transform-origin: $transforms;
  -o-transform-origin: $transforms;
  -ms-transform-origin: $transforms;
  -webkit-transform-origin: $transforms;
  transform-origin: $transforms;
}

@media (orientation: portrait) {
  .resultBox {
    @include transform-origin(0% 0%);
    @include transform(rotate(90deg));
    position: absolute;
    left: 100%;
    height: 80vw;
    width: 100vh;
  }
  .container {
    margin-top: 0;
  }
}

.share {
  text-align: center;
  font-size: 33px;
  margin-top: 33px;

  svg {
    margin: 5px;
  }
}